/* ====================
   My Page Layout
==================== */

.mypage {
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 0 40px;
}

/* ====================
   Profile
==================== */

.mypage__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;

    margin-bottom: 50px;
}

.mypage__profile-left {
    display: flex;
    align-items: center;
    gap: 57px;
}

.mypage__profile-image {
    width: 150px;
    height: 150px;

    border-radius: 50%;
    background-color: #D9D9D9;
}

img.mypage__profile-image {
    object-fit: cover;
}

.mypage__profile-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}

.mypage__profile-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 310px;
    height: 59px;

    border: 2px solid #FF5555;
    border-radius: 10px;

    color: #FF5555;
    background-color: #fff;

    font-size: 26px;
    font-weight: 700;
    line-height: 1;

    text-decoration: none;
}

/* ====================
   Tab
==================== */

.mypage__tab {
    display: flex;
    gap: 52px;

    padding: 0 0 15px 100px;

    border-bottom: 2px solid #5F5F5F;
    margin-bottom: 59px;
}

.mypage__tab a {
    text-decoration: none;

    color: #5F5F5F;

    font-size: 24px;
    font-weight: 700;

    padding-bottom: 10px;
}

.mypage__tab a.active {
    color: #FF0000;
    font-weight: 700;
}

/* ====================
   Responsive
==================== */

@media screen and (max-width: 850px) {

    .mypage__profile {
        justify-content: space-between;
        gap: 20px;
    }

    .mypage__profile-left {
        gap: 20px;
    }

    .mypage__profile-button {
        width: 200px;
        height: 50px;

        font-size: 18px;
    }
}

@media screen and (max-width: 390px) {

    .mypage__profile {
        flex-direction: column;
        gap: 20px;
    }

    .mypage__profile-left {
        flex-direction: column;
        gap: 16px;
    }

    .mypage__profile-name {
        font-size: 28px;
    }

}