/* ====================
   Tab
==================== */

.item-list__tab {
    display: flex;
    gap: 30px;

    padding: 20px 40px;

    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.item-list__tab-link {
    color: #000;

    font-size: 16px;
    text-decoration: none;

    padding-bottom: 10px;
}

.item-list__tab-link--active {
    color: #82756A;

    font-weight: 700;

    border-bottom: 2px solid #82756A;
}



