/* ====================
   Item Detail Layout
==================== */

.item-detail {
    max-width: 1245px;
    margin: 131px auto 0;

    display: flex;
    gap: 45px;

    padding: 0;
}

.item-detail__image {
    width: 600px;
    flex-shrink: 0;
}

.item-detail__image-img {
    width: 600px;
    height: 600px;

    object-fit: cover;

    border-radius: 4px;
}

.item-detail__image-placeholder {
    width: 600px;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #D9D9D9;

    font-size: 40px;
    font-weight: 400;
    line-height: 1;

    border-radius: 4px;
}

.item-detail__content {
    width: 50%;
}

/* ====================
   Product Info
==================== */

.item-detail__name {
    margin: 0;

    font-size: 45px;
    font-weight: 700;
    line-height: 1;
}

.item-detail__brand {
    margin: 0 0 28px;

    font-size: 20px;
    font-weight: 400;

    line-height: 1;
}

.item-detail__price {
    margin: 0;

    font-size: 30px;
    font-weight: 400;
    line-height: 1;
}

.item-detail__price-value {
    font-size: 45px;
    font-weight: 400;
}

.item-detail__price-tax {
    font-size: 30px;
    font-weight: 400;
}

/* ====================
   Actions
==================== */

.item-detail__actions {
    display: flex;
    gap: 55px;
    margin: 28px 0;
    padding-left: 45px;
}

.item-detail__action-count--comment {
    margin-top: 7px;
}

/* ====================
   Button
==================== */

.item-detail__button {
    margin-top: 22px;
    margin-bottom: 22px;
}

.item-detail__button-submit,
.item-detail__sold {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 56px;

    border-radius: 4px;

    background: #FF5555;
    color: #fff;

    font-size: 30px;
    font-weight: 700;

    text-decoration: none;
}

.item-detail__comment-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 56px;

    border-radius: 4px;

    background: #FF5555;
    color: #fff;

    font-size: 25px;
    font-weight: 700;
    line-height: 1;

    border: none;
    cursor: pointer;
}

/* ====================
   Section
==================== */

.item-detail__info,
.item-detail__form {
    margin-top: 40px;
}

.item-detail__form {
    margin-bottom: 178px;
}

.item-detail__comments {
    margin-top: 60px;
}

.item-detail__description {
    margin-top: 0;
}

/* ====================
   Comment Form
==================== */

.item-detail__textarea {
    width: 100%;
    min-height: 246px;

    padding: 15px;

    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;

    border: 1.5px solid #5F5F5F;
    border-radius: 4px;

    box-sizing: border-box;

    resize: vertical;

    margin-bottom: 48px;
}

.form__error {
    margin: 12px 0 0;

    color: #FF5555;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
}

.item-detail__comment-form {
    width: 100%;
}

/* ====================
   Actions
==================== */
.item-detail__action-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.item-detail__like-icon {
    width: 40px;
    height: 40px;
}

.item-detail__comment-icon {
    width: 40px;
    height: 40px;
}

.item-detail__like-button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.item-detail__action-count {
    margin: 0;

    font-size: 18px;
    font-weight: 700;

    line-height: 1;
    text-align: center;
}

.item-detail__section-title {
    margin: 0 0 40px;
    font-size: 36px;
    font-weight: 700;

    line-height: 1;
}

.item-detail__form-title {
    margin-bottom: 20px;

    font-size: 28px;
    font-weight: 700;
    line-height: 1;
}

.item-detail__comments-title {
    display: flex;
    align-items: center;

    height: 70px;

    margin-bottom: 20px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1;

    color: #5F5F5F;
}

.item-detail__category,
.item-detail__condition {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.item-detail__category {
    gap: 61px;
    margin-bottom: 40px;
}

.item-detail__condition {
    height: 30px;
    gap: 77px;
    margin-top: 0;

}

.item-detail__comment {
    margin-bottom: 20px;
}

.item-detail__comment-user {
    display: flex;
    align-items: center;
    gap: 18px;

    margin-bottom: 10px;
}

.item-detail__user-image,
.item-detail__user-icon {
    width: 70px;
    height: 70px;

    border-radius: 50%;
}

.item-detail__user-image {
    object-fit: cover;
}

.item-detail__user-icon {
    background: #d9d9d9;
}

.item-detail__comment-content {
    width: 100%;
    box-sizing: border-box;
    min-height: 70px;

    padding: 15px;

    background: #E5E5E5;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 300;
    line-height: 1;
}

/* ====================
   Description
==================== */

.item-detail__description-text {
    margin: 0;

    font-size: 24px;
    font-weight: 400;

    line-height: 1.3;
}

/* ====================
   Label
==================== */

.item-detail__label {
    width: 122px;

    margin: 0;

    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

/* ====================
   Category
==================== */

.item-detail__category-list {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.item-detail__category-tag {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 102px;
    height: 30px;

    padding: 0 20px;

    background: #D9D9D9;
    border-radius: 15px;

    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

/* ====================
   Condition
==================== */

.item-detail__condition-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;

    margin-left: 20px;
    margin-top: -3px;
}

/* ====================
   Comment
==================== */

.item-detail__user-name {
    margin: 0;

    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

/* ====================
   Responsive
==================== */

@media screen and (max-width: 850px) {

    .item-detail {
        flex-direction: column;
        align-items: center;

        margin-top: 40px;
        padding: 0 20px;
    }

    .item-detail__image,
    .item-detail__image-img,
    .item-detail__image-placeholder {
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    .item-detail__content {
        width: 100%;
        max-width: 600px;
    }
}

@media screen and (max-width: 390px) {

    .item-detail {
        padding: 0 16px;
    }

    .item-detail__name {
        font-size: 32px;
    }

    .item-detail__price-value {
        font-size: 32px;
    }

    .item-detail__section-title,
    .item-detail__comments-title {
        font-size: 28px;
    }

    .item-detail__user-name {
        font-size: 24px;
    }

}