.login-form__content {
    width: 100%;
    max-width: 680px;

    margin: 118px auto 126px;
}

.login-form__heading {
    margin-bottom: 53px;
    text-align: center;
}

.login-form__heading h2 {
    margin: 0;

    color: #000;
    font-size: 36px;
    font-weight: 700;
}

.form__group {
    margin-bottom: 37px;
}

.form__group-title {
    margin-bottom: 0;
}

.form__label--item {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.form__input--text input {
    width: 100%;
    height: 57px;

    padding: 0 15px;

    border: 1px solid #5F5F5F;
    border-radius: 4px;

    font-size: 24px;
}

.form__error {
    margin: 12px 0 0;

    color: #FF5555;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
}

.form__button {
    margin-top: 80px;
}


.form__button-submit {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 5px;
    background: #FF5555;
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
}

.login-form__register {
    margin-top: 24px;
    text-align: center;
}

.login-form__register-link {
    color: #0073CC;
    font-size: 20px;
    font-weight: 400;
}